<div style="padding-top: 60px">
<ul class="list list-messages">
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/dosa.jpg">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Masala Dosa with Chutney</div>
                <table>
                    <td width="30%">
                    <select class="w-select input-form select" id="node-10">
                        <option value="">2</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    </td>
                    <td width="20%" style="padding-left:15px">
                        x
                    </td>
                    <td width="50%" style="padding-left:15px">
                <div align="right"><i class="fa fa-inr"> 75  = </i> <i style="padding-left: 10px"class="fa fa-inr">   150</i></div>
                    </td>
                </table>
            </div>
        </a>
    </li>
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" href="chat.html" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/biryani.jpg">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Goat Biryani with Raita</div>
                <table>
                    <td width="30%">
                        <select class="w-select input-form select" id="node-10">
                            <option value="">2</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                    <td width="20%" style="padding-left:15px">
                        x
                    </td>
                    <td width="50%" style="padding-left:15px">
                        <div align="right"><i class="fa fa-inr"> 95  = </i> <i style="padding-left: 10px"class="fa fa-inr">   150</i></div>
                    </td>
                </table>
            </div>
        </a>
    </li>
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" href="chat.html" data-load="1">

            <div class="column-right">
                <div class="message-title" align="center">Total :  <i class="fa fa-inr">  220</i></div>
            </div>
        </a>
    </li>
</ul>
    <div class="separator-button"></div>

    <input class="w-button add-cart-button" type="submit" value="Checkout" data-wait="Please wait...">
    <div class="separator-button"></div>

</div>