<div style="margin-top: 60px">
    <div class="news-container item-new">
        <div>
            <div class="grey-header">
                <h2 class="grey-heading-title">Chef Gagan</h2>
                <div>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>

                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="w-slider chef-image" data-animation="over" data-duration="500" data-infinite="1"
                 data-nav-spacing="5" data-delay="3300" data-autoplay="1">
                <div class="w-slider-mask">
                    <div class="w-slide slide">
                        <! 480x360 image-->
                        <img src='../images/sachin.jpg' style='width: 100%; height: 100%; object-fit: contain'/>
                    </div>
                </div>
            </div>

            <div class="text-new no-borders">
                <div>
                    <div class="separator-fields"></div>
                    <h2 class="title-new">About the chef</h2>

                    <div class="separator-fields"></div>
                    <p class="description-new">We want you to create the best page you can possibly imagine, that’s why
                        we have thought about adding new elements and features to give your page that unique touch and
                        elegance. You can now use the social sharing buttons we have created for you and &nbsp;share or
                        show off your social networks and fans.
                        <br>
                        <br>We have incorporated a tone of elements and features to give your page that unique style and
                        special touch which will make your page stand out.</p>

                    <div class="separator-button"></div>
                </div>
            </div>

            <div class="grey-header">
                <h2 class="grey-heading-title">Current meals</h2>
            </div>
            <ul class="list list-messages">
                <li class="list-message" data-ix="list-item">
                    <a class="w-clearfix w-inline-block" data-load="1" ui-sref="mealDetail">
                        <div class="w-clearfix column-left">
                            <div class="image-message"><img src="images/dosa.jpg">
                            </div>
                        </div>
                        <div class="column-right">
                            <div class="message-title">Masala Dosa with Chutney</div>
                            <table>
                                <td width="70%">
                                    <div class="event-text">
                                    Qty Remaining : 3
                                    </div>
                                </td>
                                <td width="30%">
                                    <div class="event-text" align="right"> <i style="padding-left: 10px"class="fa fa-inr"></i>   150</div>
                                </td>
                            </table>
                        </div>
                    </a>
                </li>
                <li class="list-message" data-ix="list-item">
                    <a class="w-clearfix w-inline-block" data-load="1" ui-sref="mealDetail">
                        <div class="w-clearfix column-left">
                            <div class="image-message"><img src="images/dosa.jpg">
                            </div>
                        </div>
                        <div class="column-right">
                            <div class="message-title">Masala Dosa with Chutney</div>
                            <table>
                                <td width="70%">
                                    <div class="event-text">
                                        Qty Remaining : 3
                                    </div>
                                </td>
                                <td width="30%">
                                    <div class="event-text" align="right"> <i style="padding-left: 10px"class="fa fa-inr"></i>   150</div>
                                </td>
                            </table>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="grey-header">
                <h2 class="grey-heading-title">Reviews</h2>
            </div>
            <ul class="list list-messages">
                <li class="list-message" data-ix="list-item">
                    <a class="w-clearfix w-inline-block" data-load="1" ui-sref="mealDetail">
                        <div class="w-clearfix">
                            <div class="message-title" style="padding-left: 7px">Reminds me of mom
                            <br>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>

                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="event-text">Excellent taste, very good portions and feels very healthy</div>                        </div>
                    </a>
                </li>
                <li class="list-message" data-ix="list-item">
                    <a class="w-clearfix w-inline-block" data-load="1" ui-sref="mealDetail">
                        <div class="w-clearfix">
                            <div class="message-title" style="padding-left: 7px">Reminds me of mom
                                <br>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>

                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="event-text">Excellent taste, very good portions and feels very healthy</div>                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>