<div class="w-tabs" data-duration-in="400" data-duration-out="400" data-easing="ease-out-quint">
  <div class="w-tab-menu top-buttons">
    <a ui-sref="home" class="w-tab-link w--current w-inline-block toolbar-top-button" data-w-tab="Tab 1">
      <div>ACTIVE</div>
    </a>
    <a  ui-sref="homeChef" class="w-tab-link w-inline-block toolbar-top-button" data-w-tab="Tab 2">
      <div>ARCHIVED</div>
    </a>
  </div>
  <div class="w-tab-content tabs-content">
    <div class="w-tab-pane w-clearfix tab-pane" data-w-tab="Tab 1">
      <div class="group-block">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image"></div>
          <div class="group-title">
            <div class="title-text">Education</div>
          </div>
        </a>
      </div>
      <div class="group-block last">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg1"></div>
          <div class="group-title">
            <div class="title-text">Nature</div>
          </div>
        </a>
      </div>
      <div class="group-block">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg2"></div>
          <div class="group-title">
            <div class="title-text">Leisure</div>
          </div>
        </a>
      </div>
      <div class="group-block last">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg3"></div>
          <div class="group-title">
            <div class="title-text">Work</div>
          </div>
        </a>
      </div>
      <div class="group-block">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg4"></div>
          <div class="group-title">
            <div class="title-text">Economy</div>
          </div>
        </a>
      </div>
      <div class="group-block last">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg5"></div>
          <div class="group-title">
            <div class="title-text">Travel</div>
          </div>
        </a>
      </div>
    </div>
    <div class="w-tab-pane w--tab-active tab-pane" data-w-tab="Tab 2">
      <div class="group-block">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg4"></div>
          <div class="group-title">
            <div class="title-text">Economy</div>
          </div>
        </a>
      </div>
      <div class="group-block last">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg5"></div>
          <div class="group-title">
            <div class="title-text">Travel</div>
          </div>
        </a>
      </div>
      <div class="group-block">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg2"></div>
          <div class="group-title">
            <div class="title-text">Leisure</div>
          </div>
        </a>
      </div>
      <div class="group-block last">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg3"></div>
          <div class="group-title">
            <div class="title-text">Work</div>
          </div>
        </a>
      </div>
      <div class="group-block">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image"></div>
          <div class="group-title">
            <div class="title-text">Education</div>
          </div>
        </a>
      </div>
      <div class="group-block last">
        <a class="w-inline-block" href="news.html" data-load="1">
          <div class="group-image bg1"></div>
          <div class="group-title">
            <div class="title-text">Nature</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>