<div class="news-mask"></div>

<div class="detail-container">
    <ul class="w-clearfix list-detail">
        <li class="list-detail-new">
            <a class="w-inline-block link-blog-list" ui-sref="mealDetail" data-load="1">
                <div class="meal-detail-image"></div>
                <div class="meal-detail-text-new">
                    <h2 class="title-detail-new">Masala Dosa with Chutney</h2>
                    <p class="description-new">The masala dosa is made by stuffing a dosa with a lightly cooked filling
                        of potatoes, fried onions and spices. The dosa is wrapped around an onion and potato curry or
                        masala. Masala dosa was listed as number 49 on World's 50 most delicious foods compiled by CNN Go in
                        2011!</p>
                    <div align="center">
                    <a class="category-link" href="#">VEGETARIAN</a>
                    <a class="category-link" href="#">BREAKFAST</a>
                    <a class="category-link" href="#">EVENING</a>
                    </div>
                    <div class="text-new no-borders">
                        <div class="w-row">
                            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-l">
                                <p class="description-new">Order by: </p>
                            </div>
                            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-r">
                                <p class="description-new">12:00 PM</p>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-l">
                                <p class="description-new">Delivery time: </p>
                            </div>
                            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-r">
                                <p class="description-new">1:30 PM</p>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-l">
                                <p class="description-new">Remaining quantity: </p>
                            </div>
                            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 n-p-r">
                                <p class="description-new">5</p>
                            </div>
                        </div>
                        <div class="separator-button"></div>
                        <table width="100%">
                            <td width="80%">
                                <input class="w-button add-cart-button" type="submit" value="Add to Cart" data-wait="Please wait...">
                            </td>
                            <td width="20%">
                                <div>
                                    <select class="w-select input-form select" id="node-10">
                                        <option value="">Qty</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </td>
                        </table>
                        <div class="separator-button"></div>

                        <input class="w-button action-button" type="submit" value="View Cart" data-wait="Please wait...">
                        <div class="separator-button"></div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
