<ul class="list list-messages">
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" ui-sref="chat" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Laundry</div>
                <div class="message-text">&nbsp;Search for a range of laundry services</div>
            </div>
        </a>
    </li>
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" ui-sref="chat" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Claudio Glugieri</div>
                <div class="message-text">&nbsp;We have created a clean code and an easy-to-use template so buyers are happy!</div>
            </div>
        </a>
    </li>
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" ui-sref="chat" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Bill S. Kenney</div>
                <div class="message-text">My last draft made me feel like I wanted to start all over again but at the end...</div>
            </div>
        </a>
    </li>
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" href="chat.html" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Sys Warren</div>
                <div class="message-text">We are finally going to Europe next month, we are planning to visit few countries...</div>
            </div>
        </a>
    </li>
    <li class="list-message" data-ix="list-item">
        <a class="w-clearfix w-inline-block" href="chat.html" data-load="1">
            <div class="w-clearfix column-left">
                <div class="image-message"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="column-right">
                <div class="message-title">Chris&nbsp;Thompson</div>
                <div class="message-text">I want to create a mobile page or maybe an app so I might use Manhattan which is cool</div>
            </div>
        </a>
    </li>
</ul>
