    <ul class="list list-events">
        <li class="list-calendar-events" data-ix="list-item" ng-repeat= "match in matches" >
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
                <div class="calendar-col-left">
                    <div class="event-title">{{match.firstTeam}} vs {{match.secondTeam}}</div>
                    <div class="w-clearfix text-event-wrap">
                        <div class="left-text-icon icon ion-ios-clock-outline"></div>
                        <div class="event-text">{{match.date}}</div>
                        <div class="left-text-icon icon ion-ios-location-outline"></div>
                        <div class="event-text">{{match.venue}}</div>
                    </div>
                </div>
                <div class="w-clearfix calendar-col-right">
                    <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
                <div class="calendar-col-left">
                    <div class="event-title">Meeting with Ana</div>
                    <div class="w-clearfix text-event-wrap">
                        <div class="left-text-icon icon ion-ios-clock-outline"></div>
                        <div class="event-text">1 - 2am</div>
                        <div class="left-text-icon icon ion-ios-location-outline"></div>
                        <div class="event-text">Restaurant</div>
                    </div>
                </div>
                <div class="w-clearfix calendar-col-right">
                    <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
                <div class="calendar-col-left">
                    <div class="event-title">Meeting with Sophie</div>
                    <div class="w-clearfix text-event-wrap">
                        <div class="left-text-icon icon ion-ios-clock-outline"></div>
                        <div class="event-text">10 - 11am</div>
                        <div class="left-text-icon icon ion-ios-location-outline"></div>
                        <div class="event-text">Office</div>
                    </div>
                </div>
                <div class="w-clearfix calendar-col-right">
                    <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                    </div>
                </div>
            </a>
        </li>
        <li class="list-calendar-events" data-ix="list-item">
            <a class="w-clearfix w-inline-block" href="addnew.html" data-load="1">
                <div class="calendar-col-left">
                    <div class="event-title">Meeting with David</div>
                    <div class="w-clearfix text-event-wrap">
                        <div class="left-text-icon icon ion-ios-clock-outline"></div>
                        <div class="event-text">4 - 6pm</div>
                        <div class="left-text-icon icon ion-ios-location-outline"></div>
                        <div class="event-text">Headquarters</div>
                    </div>
                </div>
                <div class="w-clearfix calendar-col-right">
                    <div class="image-calendar-event"><img width="28" src="images/placeholder.png">
                    </div>
                </div>
            </a>
        </li>
    </ul>

